@import "tailwindcss";

html, body, #root {
	height: 100%;
}

body {
	background-image: url('./assets/BG.png');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	min-height: 100vh;
  z-index: -1;
}

.app-overlay {
	background-color: rgba(255,255,255,0.0); 
}